@import "reset";
@import "variables";
@import "lines";

.derp{max-width: 400px;}

.line{
    font-family: verdana;
    font-weight:100;
    color: white;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 2px;
}

//
@include lines;

.line{
   &.circle, &.hammersmith-city{
      color: black;
    }
}
