// variables
$bakerloo: #894e24;
$central: #DC241F;
$circle: #FFCE00;
$district: #007229;
$hammersmith-city: #D799AF;
$jubilee: #6A7278;
$metropolitan: #751056;
$northern: #000000;
$piccadilly: #0019A8;
$victoria: #00A0E2;
$waterloo-city: #76D0BD;
